@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-12-08 15:07:18
// @modified         2018-02-08 11:31:23
//

.account-register .omni-auth-wrapper {
  p {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    span {
      padding-left: 0;
      font-size: 16px;
      color: #333;
    }

    &:before {
      display: none;
    }
  }
  .icons {
    text-align: left;

    a {
      margin: 0 12px 0 0;
    }
  }
}