@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-10-23 11:41:25
// @modified         2018-06-05 14:24:45
//

body.product-product {
  .elevate-zoom-wrapper {
    overflow: hidden;
    position: relative;
  }

  .elevate-zoom-preview {
    text-align: center;
    border: 1px solid #eaeaea;

    &.swiper-vertical {
      margin-left: 108px;
    }

    @media (max-width: 768px) {
      margin: 0;
    }

    a {
      display: block;
    }
  }

  #product-thumbnail-gallery {
    position: relative;
    text-align: center;
    overflow: hidden;

    .btn-more {
      position: absolute;
      display: block;
      margin-top: -10px;
      background: transparent;
      height: 20px;
      width: 20px;
      line-height: 20px;
      color: #999;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      z-index: 99;
      i {
        font-size: 14px;
      }
      &:hover i {
        color: $brand-primary;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &.swiper-vertical {
      position: absolute;
      width: 90px;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 30px 0;

      .prev-thumb {
        top: 5px;
        left: 50%;
        margin-left: -10px;
        i:before {
          content: '\f077';
        }
      }

      .next-thumb {
        bottom: 0;
        left: 50%;
        margin-left: -10px;
        i:before {
          content: '\f078';
        }
      }
    }

    &.swiper-horizontal {
      @media (min-width: 768px) {
        margin-top: 8px;
        padding: 0 30px;
      }

      .prev-thumb {
        top: 50%;
        margin-top: -10px;
        left: -6px;
      }

      .next-thumb {
        top: 50%;
        margin-top: -10px;
        right: -4px;
      }
    }

    @media (max-width: 768px) {
      position: relative;
      margin-top: $gutter;
      width: 100%;
      margin-bottom: 10px;
    }

    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-slide {
        height: 90px;
        width: 90px;
      }
    }

    a {
      display: block;
      border: 1px solid #fff;

      &.active,&:hover {
        border: 1px solid $brand-primary;
      }
    }
  }

  h1 {
    margin: 0 0 16px;
    line-height: 1.2;
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  #product-variant-wrapper {
    .variant-group {
      margin-bottom: 14px;

      h5 {
        color: #999;
        font-size: 12px;
        margin-bottom: 6px;
      }
    }

    .button {
      padding: 0;
      transition: 0s;
      border: 1px solid #ccc;
      margin-right: 4px;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;

      span {
        display: block;
        padding: 10px 20px;
      }

      img {
        max-width: 38px;
        display: inline-block;
      }

      &:hover {
        background-color: #fff;
        border-color: $brand-primary;
        color: #222;
      }
    }

    .selected {
      // padding: 0 4px !important;
      border: 2px solid $brand-primary !important;
      position: relative;

      img {
        max-width: 36px;
      }

      & > span {
        padding: 9px 19px !important;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 12px;
        height: 12px;
        overflow: hidden;
        background: url(../image/selected-icon.png) no-repeat;
      }
    }

    .disabled {
      background: #f5f5f5;
      color: #768686 !important;
      border: 1px dashed #d0d0d0 !important;
      cursor: pointer;

      img {
        opacity: .4;
      }

      &:hover {
        background: #f5f5f5 !important;
      }
    }

    .disabled-selected {
      border: 2px solid #ccc !important;

      span {
        padding: 9px 19px !important;
      }

      img {
        max-width: 36px;
      }
    }
  }

  .product-description {
    padding-left: 30px;

    .form-group {
      label {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  #product {
    .radio, .checkbox {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        span {
          border-color: $brand-primary;
          // border: 2px solid $brand-primary;
          // padding: 6px 11px;
        }
      }

      img {
        padding: 0;
      }

      input {
        display: none;
        &:checked + span {
          border: 2px solid $brand-primary;
          padding: 6px 11px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 12px;
            height: 12px;
            overflow: hidden;
            background: url(../image/selected-icon.png) no-repeat;
          }
        }
      }

      span {
        display: block;
        position: relative;
        padding: 7px 12px;
        margin-bottom: 4px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
      }
    }
  }

  .tags {
    margin-top: 15px;

    a {
      display: inline-block;
      padding: 2px 6px;
      margin: 0 2px;
      color: #333;
      background-color: #f5f5f5;

      &:hover {
        color: #fff;
        background-color: $brand-primary;
      }
    }
  }

  .product-attribute {
    li {
      padding: 3px 0;

      .title {
        color: #777;
        display: inline-block;
        width: 100px;
      }
    }
  }

  .tax-discounts-box {
    color: #777;
    list-style: none;
    padding-left: 0;
    margin-bottom: 14px;
  }

  .product-price-wrapper {
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin: 10px 0 17px;
    padding-bottom: 14px;
    color: $brand-primary;

    h2 {
      font-size: 26px;
    }

    .price-old {
      color: #888;
      font-size: 18px;
      margin-left: 4px;
    }

    .points {
      // margin-left: 20px;
      font-size: 16px;
    }
  }

  .product-cart-action {
    overflow: hidden;
    margin: 24px 0 30px;

    .form-control, button {
      height: 46px;

      @media (max-width: 992px) {
        height: 36px;
      }
    }

    .quantity-input-wrapper {
      width: 110px;
      position: relative;
      margin-right: 20px;
      float: left;

      @media (max-width: 500px) {
        float: none;
        margin-bottom: 10px;
      }

      a {
        right: 1px;
        position: absolute;
        background: #e5e5e5;
        width: 23px;
        height: 23px;
        font-size: 16px;
        text-align: center;
        line-height: 23px;

        &.quantity-up {
          top: 1px;
        }

        &.quantity-down {
          bottom: 1px;
        }
      }
    }

    #button-cart {
      float: left;
      margin-right: 20px;
      position: relative;

      @media (min-width: 992px) {
        font-size: 16px;
        padding: 8px 34px 8px 53px;

        &:before {
          content: "\f07a";
          font-family: 'FontAwesome';
          position: absolute;
          top: 10px;
          left: 20px;
          font-size: 18px;
        }
      }
    }

    @media (min-width: 992px) {
      .wishlist-share {
        float: left;

        button {
          padding: 8px 16px;
          margin-right: 6px;
        }
      }
    }
  }

  .stars-box {
    .rating {
      float: left;
      margin: 3px 10px 0 0;
      span {
        font-size: 16px;
      }
    }

    .more-review {
      display: inline-block;
      padding: 5px 10px 5px 5px;
      a {
        color: #999;
        font-size: 14px;
        margin: 0 6px 0 0;
        padding: 0 6px 0 0;
        position: relative;

        &:hover {
          color: $brand-primary;
          i {
            color: $brand-primary;
          }
        }
      }
    }
  }

  .nav-tabs {
    margin-top: 20px;
  }

  .tab-content {
    padding: 20px;
    margin: 20px 0 20px;
    border: $default-border;

    #tab-description {
      img {
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  #displayQuestionAnwser {
    .item {
      border-bottom: 1px dotted #DEDEDE;
      margin: 0px 0px 9px;

      .inner {
        margin-left: 25px;

        @media (min-width: 768px) {
          margin-right: 160px;
        }

        @media (max-width: 768px) {
          margin-bottom: 24px;
        }
      }
    }

    dl {
      padding: 0px;
      margin-bottom: 10px;
      overflow: hidden;

      i {
        width: 22px;
        font-size: 16px;
        text-align: center;
        float: left;
        line-height: 24px;
      }

      &.ask i {
        color: #f91 !important;
        font-size: 18px !important;
      }

      &.answer i {
        color: #9b1 !important;
      }
    }

    dd {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      position: relative;
    }

    .content {
      padding: 0px;
      margin-bottom: 0px;
      border: 0px;

      > div:first-of-type {
        float: left;
        // width: 86%;
        line-height: 24px;
        font-size: 14px;
      }
    }

    .date-answer {
      text-align: right;
      line-height: 24px;
      color: #9C9A9C;
      position: absolute;

      @media (min-width: 768px) {
        top: 0;
        right: 0;
      }

      @media (max-width: 768px) {
        bottom: 0;
        left: 25px;
      }
    }
  }

  #review {
    .table-bordered {
      border: none;
      border-bottom: 1px solid #e5e5e5;
      &:last-of-type {
        border: none;
        margin-bottom: 0;
      }
      td {
        border: none;
      }
    }

    tbody > tr:first-of-type td {
      background-color: #f9f9f9;
    }

    .oreview-img-box {
      a {
        border: 1px solid #ddd;
        display: inline-block;
        margin: 0 5px 10px 0;
        cursor: pointer;
        width: 80px;
        height: auto;
        &:hover {
          border-color: $brand-primary;
        }
      }
    }

    p {
      margin: 0 0 10px;
    }
  }
}
