{% if store_name %}
  <div>
    <image style="float:left;" src="{{ store_avatar }}"></image>
    <ul class="list-unstyled product-attribute">
      <li><a href="{{ store_url }}"><span>{{ store_name }}</span></a></li>
      <li><span>{{ store_address }}</span></li>
    </ul>
  </div>
  <div class="clearfix"></div>
{% endif %}
