{% if product.quantity > 0 and helper.config('theme_mobile_add_to_cart_button_status') and style != 'list-small' %}
<div class="add-cart" onclick="cart.add('{{ product.product_id }}')"><i class="iconfont">&#xe634;</i></div>
{% endif %}
