@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-11-24 11:51:00
// @modified         2018-01-31 14:33:28
//

.layui-layer {
  .layui-layer-content {
    a {
      color: $brand-primary;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .layui-layer-btn {
    a.layui-layer-btn0 {
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }
}
