<form id="alipaysubmit" name="alipaysubmit" action="{{ action }}" method="POST" hidden="hidden">
  {% for key, value in form_params %}
    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
  {% endfor %}
</form>
<script type="text/javascript">
submitForm()
function submitForm() {
  var queryParam = '';
  $("#alipaysubmit input[type=hidden]").each(function(){
    queryParam += '&' + $(this).attr("name") + "=" + encodeURIComponent($(this).attr("value"));
  });
  alert(queryParam);

    var gotoUrl = document.querySelector("#alipaysubmit").getAttribute('action') + '?' + queryParam;
    location.href = "{{ pay_url }}" + "&goto=" + _AP.pay(gotoUrl);
}
</script>
