@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2018-01-15 19:21:04
// @modified         2018-01-15 19:25:48
//

.quick-checkout-connect-wrapper {
  clear: both;
  margin-bottom: 10px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  li {
    margin-bottom: 8px;
  }
}