@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2016-11-24 18:03:26
// @modified         2017-06-06 15:02:02
//

// Hot searches keyword style
.hot-keywords-widget {
  & > div {
    padding: 0 $gutter/2;
  }
  ul {
    margin: 0;
    overflow: hidden;

    li {
      margin-bottom: 10px;

      a {
        display: block;
        // margin: 4px;
        padding: $gutter/2 0;
        text-align: center;
        // border: 1px solid #F2F2F2;
        @include border-radius(0px);
        background-color: #f1f1f1;
      }
    }
  }
}
