@charset "UTF-8";

//
// @copyright        2018 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2018-04-10 15:21:15
// @modified         2018-04-19 11:38:22
//

.btn-multi-filter {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 3;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
}

.multi-filter-layer {
  position: fixed;
  float: none;
  background: #fff;
  overflow: auto;
  padding: 14px 10px;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 80%;
  z-index: 1000000;
  @include transform(0);
  @include transition(all .3s ease-out);
  &.active {
    @include transform(-100%);
    box-shadow: rgba(0,0,0,.1) 0 0 100px 0;
    transition-delay: .1s;
  }
}

.multi-filter-wrapper {
  padding: $gutter;
  background-color: #fff;

  .group-title {
    font-size: 16px;
    font-weight: bold;
  }

  .group-content {
    margin-bottom: $gutter;
    border-bottom: 1px dotted #eaeaea;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .category-list-section {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 10px 0;

        &.active {
          a {
            font-weight: bold;
          }
        }
      }

      a {
        color: #777;
      }
    }

    .filter-price-section {
      padding-bottom: 20px;

      .range-input-group {
        margin: 8px 0 16px;

        > input {
          width: 46%;
          display: inline-block;
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance:textfield;
          }

          & + input {
            float: right;
          }
        }
      }

      .price-slider {
        margin: 0 5px;
        height: .3em;
        border-color: $main_color;

        div {
          background-color: $main_color;
        }

        span {
          top: -.5em;
          outline: 0;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }

    .checkbox {
      color: #777;
      position: relative;

      label {
        display: block;
        height: 18px;
        overflow: hidden;

        &:before {
          content: "\f096";
          font-family: fontawesome;
          left: 0;
          top: 1px;
          position: absolute;
        }

        &.active:before  {
          content: "\f046";
          color: $main_color;
        }

        &:active:before {
          color: $main_color;
        }

        input {
          display: none;
        }

        .total {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          color: #c7c7c7;
        }
      }
    }

    .btn-more {
      cursor: pointer;
      text-align: right;

      &:after {
        content: '\f0fe';
        font-family: 'FontAwesome';
        color: #999;
      }

      &.active {
        &:after {
          content: '\f146';
        }
      }
    }
  }
}
