@charset "UTF-8";

//
// @copyright        2018 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2018-01-29 14:50:42
// @modified         2018-01-29 14:50:46
//

.account-list {
  a {
    border: none;
    padding: 9px 0 9px 23px !important;
    font-size: 15px !important;
  }
}
