@charset "UTF-8";

//
// @copyright        2018 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2018-06-19 21:45:22
// @modified         2018-06-21 18:10:34
//

a {
	color: #333;
	text-decoration: none !important;
}

input, textarea, select {
  border-radius: 0 !important;
  border-color: #ddd !important;
  box-shadow: none !important;

  &:active, &:focus, &:hover {
    border-color: $main_color !important;
  }
}

.text-purple {
  color: #707cd2;
}

.text-success {
  color: #7ace4c;
}

.text-info {
  color: #41b3f9;
}

.text-danger {
  color: #f33155;
}

.btn-primary {
  border-color: #00b8ff;
  @include bg-gradient(-20deg, $main_color, #00b8ff);

  &:hover {
    border-color: $main_color;
    @include bg-gradient(-20deg, #0757c5, #00b8ff);
  }
}

.btn-default {
  border-color: #ddd;
  @include bg-gradient(-20deg, #f5f4fa, #e4f7ff);

  &:hover {
    color: #fff;
    border-color: #00b8ff;
    @include bg-gradient(-20deg, $main_color, #00b8ff);
  }
}

.btn-danger {
  border-color: #ff4c47;
  @include bg-gradient(-20deg, #ff4c47, #ff7e79);

  &:hover {
    @include bg-gradient(-20deg, #ea4740, #ff4c47);
  }
}


.content-wrapper {
  padding: 25px;
  background: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  @include box-shadow(0px 0px 22px rgba(99, 99, 99, 0.1));

  @media (max-width: 1400px) {
    padding: 20px;
  }

  > h3.title {
		font-weight: bold;
		font-size: 16px;
		padding: 0;
		margin: 0;
  }
}

// 覆盖 h1 ~ h6
@for $i from 1 through 6 {
  h#{$i} {
    font-size: 26px - ($i *2);
    margin: 0 0 20px - ($i *2);
  }
}

.no-items {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;

  img {
    margin: 20px auto 14px auto;
  }

  .btn {
    margin-top: 10px;
  }
}