{% set style = 'list' %}
<div class="row product-list-item-style product-list-box">
  <div class="module-title"><span>{{ heading_title }}</span></div>
  {% for product in products %}
  <div class="col-xs-12 product-item">
    {{ include(helper.template('_partial/product/product_single')) }}
  </div>
  {% endfor %}
</div>
